extends web/layout
block body
    #top
        a(name='top')
    
    // Github ribbon
    a(href='https://github.com/OAButton/OAButton')
        img#github_ribbon(
            src='https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png',
            alt='Fork me on GitHub')

    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        .container
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#') Open Access Button
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href='#top') Get the button
                    li
                        a(href='#world') See the map
                    li
                        a(href='#contribute') Contribute
                    li
                        a(href='#thanks') Meet the team
                    li
                        a(href='#contact') Contact and follow

    header.jumbotron.subhead
        .container
            h1 Need Access to Research?
            h2 Sign up below to get your Open Access Button
        a(href="#start", data-toggle="modal", data-target="#video-modal", alt="Need access to research?", title="Learn more about the project in this video")
            | Learn more about the project in this video
        .lead 
            span 
                | Tearing down barriers to accessing research, one click at a time

    .modal.fade(id="video-modal", tabindex="-1", role="dialog", aria-labelledby="video-header", aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                    h4.modal-title(id="video-header") 
                        | Introduction video
                .modal-body
                    iframe(width="538", height="303", src="//www.youtube.com/embed/Z93Yq0_DP7I", frameborder="0", allowfullscreen)
                .modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") Close

    #start
        .container.center
            block start
    
    #world
        a(name='world')
        .container
            #map
                .underlay
                    .lead
                        span(id='counter')
                            {{count|force_escape}}
                        span 
                            | Paywalls Hit
                    p
                        | This map displays people being denied access to the research they both need and paid for. Put yourself on the map using the Open Access Button to tell the world you are being denied access to knowledge. Using the Open Access Button will make the individual moments of injustice and frustration visible to the world.

    #intro
        a(name='intro')
        .container
            h2 What is this about?
            .row.hilite-left
                .col-md-12
                    p
                        | People are denied access to research hidden behind paywalls every day. This problem is invisible, but it slows innovation, kills curiosity and harms patients. This is an indictment of the current system.
                        a(href="http://www.youtube.com/watch?v=L5rVH1KGBCY") Open Access 
                        | has given us the solution to this problem by allowing everyone to read and re-use research. 
                        | We created the 
                        i Open Access Button 
                        | to track the impact of paywalls and help you get access to the research you need. By using the button you’ll help show the impact of this problem, drive awareness of the issue, and help change the system. Furthermore, the 
                        i Open Access Button 
                        | has several ways of helping you get access to the research you need right now. 

    #contribute
        a(name='contribute')
        .container
            h2 Get involved.
            .row.hilite-right
                .col-md-12
                    p
                        | The first step is using the Open Access Button (and you are using it, daily, on every paywall, right?). But don’t think that’s all there is to do! This project was made possible by developers, advocates, students and general clever folk from Open community and we need continued support to take this to the next level. Of course, the code, text, and data we’ve pulled together are openly available, so you can innovate and advocate with it. If you can, donate to the project to help us support and maintain service as well as helping us with our future development plans. Bottom line, we’d love to hear from you, so whether it’s a suggestion, virtual pat on the back, or, dare I say a bug you’ve noticed, get in touch. 

            .row.buttons
                .col-md-12
                    a(href="mailto:oabutton+bug@gmail.com")
                        button.btn.btn-default.bug(type="button")
                            | Report a bug
                    a(href="https://www.charitycheckout.co.uk/1111824/OpenAccessButton")
                        button.btn.btn-warning.donate(type="button") 
                            | Donate!
                    a(href="mailto:oabutton+suggestion@gmail.com")
                        button.btn.btn-success.suggest(type="button")
                            | Suggestions

    #thanks
        a(name='thanks')
        .container
            .row.team
                .col-md-12
                    h3.overline Meet the team of people and organisations who made this a reality
                    ul.thumbnails
                        each person in team_data
                            li
                                a.thumb(href="#{person['link']}", style="visibility:hidden")
                                    img(src="#{person['thumb']}")
                                .caption
                                    i.wedge-up
                                    .large
                                        img(src="#{person['thumb']}")
                                    a.name(href="#{person['link']}") {{ person.name }}
                                    p {{ person.blurb }}
                                    .links
                                        if person.twitter
                                            a.twitter(href="http://twitter.com/#{person['twitter']}") Twitter
            .row.orgs
                .col-md-12
                    h3 Many thanks to all of you who helped along the way
                    ul
                        each org in thanks_data
                            li
                                a(href="#{org['link']}")
                                    | {{ org.name }}
                        p 
                            b + 
                            | Everyone who joined the 
                            a(href="https://www.thunderclap.it/en/projects/5675-open-access-button-launch‎") Thunderclap
                            |, sent messages of support and suggestions!


    #footer
        a(name='contact')
        .container
            .row
                .col-md-3.col-sm-3
                    p
                        b INFO
                    p
                        a(href="http://blog.openaccessbutton.org")
                            | Project blog
                    p
                        a(href="https://groups.google.com/d/forum/open-access-button-general")
                            | Join the community
                    p Disclaimer
                .col-md-3.col-sm-3
                    p
                        b ABOUT
                    p
                        a(href="mailto:oabutton+press@gmail.com")
                            | Media inquiries
                    p
                        a(href="https://github.com/oabutton")
                            | Get the code
                    p
                        a(href="mailto:oabutton+data@gmail.com")
                            | Get the data
                .col-md-6.col-sm-6
                    p
                        a.icon.twitter(href="https://twitter.com/oa_button") Twitter
                        a.icon.facebook(href="https://www.facebook.com/openaccessbutton") Facebook
                        a.icon.wordpress(href="http://oabutton.wordpress.com/") Wordpress

                    p.license
                        a(rel="license", href="http://creativecommons.org/licenses/by/3.0/")
                            img(alt="Creative Commons License", style="border-width:0", src="http://i.creativecommons.org/l/by/3.0/88x31.png")
                        br
                        | The 
                        span(xmlns:dct="http://purl.org/dc/terms/", property="dct:title") Open Access Button 
                        | is licensed under a 
                        a(rel="license", href="http://creativecommons.org/licenses/by/3.0/") Creative Commons Attribution 3.0 Unported License
                        |.
